/* * {
  box-sizing: border-box;
} */

#page_wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 50px 50px;
}

body {
  background-color: #f6f4f3;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

nav {
  float: right;
  padding-top: 30px;
}

h1,
h3,
h4,
h5,
p,
h6 {
  margin: 0;
  padding: 0px;
}

h1 {
  font-size: 30px;
  letter-spacing: 0.1dvh;
}

h2 {
  background-color: #9bc437;
  border-radius: 10px;
  display: inline-block;
  padding: 5px 14px;
  letter-spacing: 0.3dvh;
  margin: 0px 20px 15px 0px;
  font-size: larger;
  width: 20%;
  align-self: first baseline;
  text-align: center;
}

h3 {
  font-size: larger;
}

footer {
  margin-top: 10px;
  background-color: #e8e3de;
  padding: 30px;
  text-align: center;
}

.page-section {
  display: flex;
  margin-top: 20px;
}

.col-right {
  margin: 0px 30px;
}

.line {
  margin-top: 20px;
  margin-right: 30px;
  border-bottom: 1px solid black;
}

.header-logo,
nav {
  display: inline-block;
  margin: 10px;
}

/* buttons */

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #9bc437;
  background-color: black;
  border: black;
}

#cv_download a {
  text-decoration: none;
  color: black;
}

#cv_download a:hover {
  color: #9bc437;
  background-color: black;
  border: black;
}

#contacts a {
  text-decoration: none;
  color: black;
}

.contacts_li:hover {
  border-radius: 50px;
  padding: 0 15px 10px 10px;
  background-color: #9bc437;
}

/* <---- nav ----> */

.nav_ul {
  display: inline-flex;
  list-style-type: none;
  margin-top: 25px;
}
nav li {
  margin: 0 20px;
}

.nav_links {
  padding: 8px;
  font-weight: bolder;
  border: 3px solid #9bc437;
  border-radius: 50px;
  font-size: 15px;
}

/* <---- header logo ----> */

.header-logo:hover {
  background-color: black;
  color: #9bc437;
}

.header-logo {
  background-color: #9bc437;
  border-radius: 45px;
  padding: 5px 40px;
}

.header-logo a {
  text-decoration: none;
}
.header-logo h1,
.header-logo p {
  color: black;
}
.header-logo:hover h1,
.header-logo:hover p {
  color:#9bc437;
}
#header-logo-p {
  padding-left: 50px;
  padding-bottom: 5px;
  font-size: 20px;
  letter-spacing: 0.2dvh;
  float: right;
}

/* <---- about me ----> */

#about_me {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

#avatar_pic {
  height: 355px;
  width: 355px;
  position: absolute;
  top: 0px;
  right: 0px;
}

#avatar_grey_box {
  width: 355px;
  height: 355px;
  background-color: #e8e3de;
  position: absolute;
  bottom: 0;
}

#avatar_container {
  width: 400px;
  height: 400px;
  position: relative;
}
#about p {
  font-size: 48px;
  margin-top: 0px;
}

#text_about_me,
p {
  text-align: justify;
  font-size: 17px;
}

/* <---- portfolio ----> */

#portfolio_container {
  display: grid;
  grid-template-rows: 370px 300px;
  border-left: 5px solid #9bc437;
  grid-template-areas:
    "app_1 app_1"
    "app_2 app_3"
    "app_4 app_5";
  width: 300px;
  padding: 0px 20px 10px 25px;
  align-items: center;
}

.four_apps {
  width: 408px;
}

#portfolio_container > article {
  margin: 10px;
}

#first_pic_container {
  padding: 15px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: larger;
  opacity: 0.7;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 85px;
  display: inline-block;
}

.four_apps_container {
  background-color: black;
  color: white;
  opacity: 0.7;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  padding-left: 10px;
}

#app_1,
.four_apps {
  transition: 1s;
}

#app_1:hover {
  transform: scale(1.2);
}

.four_apps:hover {
  transform: scale(1.2);
}

#app_1 {
  grid-area: app_1;
  position: relative;
}

#app_1 img {
  width: 100%;
}

#app_2 {
  grid-area: app_2;
  position: relative;
}

#app_3 {
  grid-area: app_3;
  position: relative;
}

#app_4 {
  grid-area: app_4;
  position: relative;
}

#app_5 {
  grid-area: app_5;
  position: relative;
}

.four_apps img {
  height: 220px;
  width: 100%;
}

/* <---- CV download ----> */

#click_download {
  padding: 6px 8px;
  font-weight: bolder;
  border: 3px solid #9bc437;
  border-radius: 50px;
  margin: 0px 3px;
}

#cv_download p {
  /* margin-bottom: 25px; */
  border-left: 5px solid #9bc437;
  padding: 20px;
  background-color: #e8e3de;
}

/* <---- contacts ----> */

.contact_links {
  display: flex;
  justify-content: left;
  padding: 20px 0px;
  border: ;
}

.contacts_ul {
  list-style-type: none;
  display: flex;
  padding: 20px 20px 25px 20px;
  border-left: 5px solid #9bc437;
}

.contacts_li {
  display: flex;
  margin: 10px;
  font-size: 17px;
  padding-right: 20px;
}

.contacts_li a {
  padding-top: 20px;
  padding-left: 8px;
}

#contacts {
  display: flex;
  flex-direction: row;
}

.contact_icons {
  height: 40px;
  margin: 8px 0px 0px 8px;
}

/* ----- Form ----- */
/* #form {
  display: flex;
  flex-direction: column;
  width: inherit;
} */

/* #col-right-contacts {
  width: 75%;
  display: flex;
  flex-direction: column;
} */

/* #submit {
  background-color: #9bc437;
  border-radius: 30px;
  font-size: larger;
  padding: 10px;
  margin-top: 10px;
  width: 50%;
}

#submit:hover {
  background-color: black;
  color: #9bc437;
} */
