/* * {
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
} */

#page_wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 50px 50px;
}

body {
  background-color: #f6f4f3;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

nav {
  float: right;
  padding-top: 30px;
}

footer {
  margin-top: 10px;
  background-color: #e8e3de;
  padding: 30px;
  text-align: center;
}

.nav_ul {
  display: inline-flex;
  list-style-type: none;
  margin-top: 25px;
}
nav li {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #9bc437;
}

.header-logo,
nav {
  display: inline-block;
  margin: 10px;
}

.header-logo {
  border: 3px solid #db6a64d0;
  background-color: #e2615ac0;
  border-radius: 45px;
  padding: 5px 40px;
}

h1 {
  font-size: 30px;
  letter-spacing: 0.1dvh;
}

h2 {
  background-color: #9bc437;
  border-radius: 30px;
  display: inline-block;
  padding: 5px 14px;
  letter-spacing: 0.1dvh;
  margin: 15px 0px;
  font-size: larger;
}

#click_download {
  padding: 6px 8px;
  font-weight: bolder;
  border: 3px solid #9bc437;
  border-radius: 50px;
  margin: 0px 3px;
}

#header-logo-p {
  padding-left: 50px;
  padding-bottom: 5px;
  font-size: 20px;
  letter-spacing: 0.2dvh;
  float: right;
}

h1,
h3,
h4,
h5,
p,
h6 {
  margin: 0;
  padding: 0px;
}

#about p {
  font-size: 48px;
  margin-top: 0px;
}

.contact_links {
  display: flex;
  justify-content: left;
  padding: 20px 0px;
}

.contacts_ul {
  list-style-type: none;
  /* padding: 15px 5px; */
}

.contacts_li {
  display: flex;
  margin: 10px;
  font-size: 17px;
}

.contacts_li a {
  padding-top: 20px;
  padding-left: 8px;
}

.nav_links {
  padding: 8px;
  font-weight: bolder;
  border: 3px solid #9bc437;
  border-radius: 50px;
  font-size: 15px;
}

#avatar_container {
  width: 400px;
  height: 400px;
  position: relative;
}

#avatar_pic {
  height: 355px;
  width: 355px;
  position: absolute;
  top: 0px;
  right: 0px;
}

#avatar_grey_box {
  width: 355px;
  height: 400px;
  background-color: #e8e3de;
}

#about_me {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

#contacts {
  display: flex;
  flex-direction: row;
}

#col-left-contacts {
  width: 45%;
}

#col-right-contacts {
  width: 75%;
  display: flex;
  flex-direction: column;
}

#form {
  display: flex;
  flex-direction: column;
}

#text_about_me,
p {
  text-align: justify;
  font-size: 17px;
}

#cv_download p {
  margin-bottom: 25px;
}

.col-right {
  margin: 0px 30px;
}

.line {
  margin-top: 20px;
  margin-right: 30px;
  border-bottom: 1px solid black;
}

.contact_icons {
  height: 40px;
  margin: 8px 8px 0px 8px;
}

#submit {
  background-color: #9bc437;
  border-radius: 30px;
  font-size: larger;
  padding: 10px;
  margin-top: 10px;
}
